{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-full mx-auto px-5">
        <h1 class="text-3xl font-bold underline my-8">Products Pages</h1>

        <div class="flex justify-between items-center my-8">
            <h3 class="text-2xl font-bold">Create Products</h3>
        </div>
        <div class="w-1/4">
            <form action="/products/store" method="POST" enctype="multipart/form-data">
                <div class="flex flex-col gap-3 mb-5">
                    <label
                        for="name"
                        class="text-lg"
                        >Name
                    </label>
                    <input
                        type="text"
                        class="p-3 border rounded"
                        id="name"
                        name="name"
                        placeholder="e.g: John Doe" />
                </div>

                <div class="flex flex-col gap-3 mb-5">
                    <label
                        for="email"
                        class="text-lg"
                        >Price
                    </label>
                    <input
                        type="text"
                        class="p-3 border rounded"
                        id="price"
                        name="price"
                        placeholder="e.g: 99999999" />
                </div>

                <div class="flex flex-col gap-3 mb-5">
                    <label
                        for="description"
                        class="text-lg"
                        >Description
                    </label>
                    <textarea
                        type="text"
                        class="p-3 border rounded"
                        id="description"
                        name="description"
                        placeholder="e.g: lorem ipsum" 
                        ></textarea>
                </div>

                <div class="flex flex-col gap-3 mb-5">
                    <label
                        for="name"
                        class="text-lg"
                        >Image
                    </label>
                    <input class="block w-full border rounded-lg cursor-pointer focus:outline-none" id="image" name="image" type="file">
                </div>

                <div class="flex gap-3">
                    <button type="submit" class="px-2 bg-green-500 py-2 rounded text-white">Save</button>
                    <a href="/customers" class="px-2 bg-red-500 py-2 rounded text-white">Back</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}