{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}
<div class="w-full mx-auto px-5">
        <h1 class="text-3xl font-bold underline my-8">Products Pages</h1>

        <div class="flex justify-between items-center my-8">
            <h3 class="text-2xl font-bold">List Products</h3>
            <a href="/products/create" class="px-2 bg-blue-500 py-2 rounded text-white">Create Data</a>
        </div>
        <div class="mx-auto">
            <table class="table table-auto border-collapse border border-slate-500 w-full">
                <thead>
                    <tr>
                        <th class="border border-slate-600 p-5">Name</th>
                        <th class="border border-slate-600">Price</th>
                        <th class="border border-slate-600">Description</th>
                        <th class="border border-slate-600">Image</th>
                        <th class="border border-slate-600">Opsi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in products %}    
                        <tr>
                            <td class="border border-slate-600 p-5">{{ data.name }}</td>
                            <td class="border border-slate-600 p-5">Rp. {{ data.price|number_format('0', ',', '.') }}</td>
                            <td class="border border-slate-600 p-5">{{ data.description }}</td>
                            <td class="border border-slate-600 p-5">
                                <img src="{{ asset('images/uploads/' ~ data.image) }}" class="rounded" style="width: 8.75rem;" />
                            </td>
                            <td class="border border-slate-600 p-5">
                                <div class="flex gap-3">
                                    <a href="/products/{{ data.id }}/edit" class="px-2 bg-green-500 py-2 rounded text-white">Edit</a>
                                    <a href="/products/{{ data.id }}/delete" class="px-2 bg-red-500 py-2 rounded text-white">Delete</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
