{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-full mx-auto px-5">
        <h1 class="text-3xl font-bold underline my-8">Customers Pages</h1>

        <div class="flex justify-between items-center my-8">
            <h3 class="text-2xl font-bold">Create Customers</h3>
        </div>
        <div class="w-1/4">
            <form action="/customers/store" method="POST">
                <div class="flex flex-col gap-3 mb-5">
                    <label
                        for="name"
                        class="text-lg"
                        >Name
                    </label>
                    <input
                        type="text"
                        class="p-3 border rounded"
                        id="name"
                        name="name"
                        placeholder="e.g: John Doe" />
                </div>

                <div class="flex flex-col gap-3 mb-5">
                    <label
                        for="email"
                        class="text-lg"
                        >E-mail
                    </label>
                    <input
                        type="text"
                        class="p-3 border rounded"
                        id="email"
                        name="email"
                        placeholder="e.g: Johndoe@gmail.com" />
                </div>

                <div class="flex flex-col gap-3 mb-5">
                    <label
                        for="phone"
                        class="text-lg"
                        >Phone Number
                    </label>
                    <input
                        type="text"
                        class="p-3 border rounded"
                        id="phone"
                        name="phone"
                        placeholder="e.g: 08123429876543" 
                        maxLength="13"
                        />
                </div>

                <div class="flex flex-col gap-3 mb-5">
                    <label
                        for="name"
                        class="text-lg"
                        >Gender
                    </label>
                    <select name="gender" class="border rounded p-3">
                        <option>Please Choose Option</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>

                <div class="flex gap-3">
                    <button type="submit" class="px-2 bg-green-500 py-2 rounded text-white">Save</button>
                    <a href="/customers" class="px-2 bg-red-500 py-2 rounded text-white">Back</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}