{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-full mx-auto px-5">
        <h1 class="text-3xl font-bold underline my-8">Customers Pages</h1>

        <div class="flex justify-between items-center my-8">
            <h3 class="text-2xl font-bold">List Customers</h3>
            <a href="/customers/create" class="px-2 bg-blue-500 py-2 rounded text-white">Create Data</a>
        </div>
        <div class="mx-auto">
            <table class="table table-auto border-collapse border border-slate-500 w-full">
                <thead>
                    <tr>
                        <th class="border border-slate-600 p-5">Name</th>
                        <th class="border border-slate-600">E-mail</th>
                        <th class="border border-slate-600">Created at</th>
                        <th class="border border-slate-600">Opsi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in customers %}    
                        <tr>
                            <td class="border border-slate-600 p-5">{{ data.name }}</td>
                            <td class="border border-slate-600 p-5">{{ data.email }}</td>
                            <td class="border border-slate-600 p-5">{{ data.getCreatedAt.format('d F Y') }}</td>
                            <td class="border border-slate-600 p-5">
                                {# <a href="/customers/{{ data.id }}/details" class="px-2 bg-gray-500 py-2 rounded text-white">Details</a> #}
                                <a href="/customers/{{ data.id }}/edit" class="px-2 bg-green-500 py-2 rounded text-white">Edit</a>
                                <a href="/customers/{{ data.id }}/delete" class="px-2 bg-red-500 py-2 rounded text-white">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}