{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-full mx-auto px-5">
        <h1 class="text-3xl font-bold underline my-8">Order Pages</h1>

        <div class="flex justify-between items-center my-8">
            <h3 class="text-2xl font-bold">Create Orders</h3>
        </div>
        <div class="w-1/4">
            <form action="/orders/store" method="POST">
                <div class="flex flex-col gap-3 mb-5">
                    <label
                        for="name"
                        class="text-lg"
                        >Customers
                    </label>
                    <select name="customer_id" class="border rounded p-3">
                        <option>Please Choose Option</option>
                        {% for customer in customers %}
                            <option value="{{ customer.id }}">{{ customer.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="button" class="px-2 bg-blue-500 py-2 rounded text-white mb-5" id="add-data">Add Data</button>
                <div class="mx-auto">
                    <table id="tableOrders" class="table table-auto border-collapse border border-slate-500 w-full">
                        <thead>
                            <tr>
                                <th class="border border-slate-600">Products</th>
                                <th class="border border-slate-600">Quantity</th>
                                <th class="border border-slate-600">Opsi</th>
                            </tr>
                        </thead>
                        <tbody>  
                            <tr>
                                <td class="border border-slate-600 p-5">
                                    <select name="product_id[]" id="product_id" class="border rounded p-3">
                                        <option>Please Choose Option</option>
                                        {% for product in products %}
                                            <option value="{{ product.id }}">{{ product.name }} - {{ product.price }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="border border-slate-600 p-5">
                                    <input
                                        type="number"
                                        class="p-3 border rounded"
                                        id="quantity"
                                        name="quantity[]"
                                        min="0" 
                                    />
                                </td>
                                <td class="border border-slate-600 p-5">
                                    <div class="flex gap-3">
                                        <button type="button" class="px-2 bg-red-500 py-2 rounded text-white" onclick="remove_data_order(this)">Remove</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-2">
                    <button class="px-2 bg-green-500 py-2 rounded text-white">Save</button>
                    <a href="/orders" class="px-2 bg-red-500 py-2 rounded text-white">Cancel</a>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById('add-data').addEventListener('click', function() {
                create_data_order()
            })
        });

        function create_data_order() {
            let tbody = document.getElementById('tableOrders').getElementsByTagName('tbody');
            let tr = document.createElement('tr')
            let data = `
                <td class="border border-slate-600 p-5">
                    <select name="product_id[]" id="product_id" class="border rounded p-3">
                        <option>Please Choose Option</option>
                        {% for product in products %}
                            <option value="{{ product.id }}">{{ product.name }} - {{ product.price }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td class="border border-slate-600 p-5">
                    <input
                        type="number"
                        class="p-3 border rounded"
                        id="quantity"
                        name="quantity[]"
                        min="0" 
                    />
                </td>
                <td class="border border-slate-600 p-5">
                    <div class="flex gap-3">
                        <button type="button" class="px-2 bg-red-500 py-2 rounded text-white" onclick="remove_data_order(this)">Remove</button>
                    </div>
                </td>
            `

            tr.innerHTML = data

            let newRow = tbody[0].appendChild(tr);
        }

        function remove_data_order(e) {
            e.parentNode.parentNode.parentNode.remove()
        }
    </script>
{% endblock %}