{% extends 'base.html.twig' %}

{% block title %}Hello Orders!{% endblock %}

{% block body %}
<div class="w-full mx-auto px-5">
        <h1 class="text-3xl font-bold underline my-8">Orders Pages</h1>

        <div class="flex flex-col my-8">
            <p class="text-2xl font-bold">Order Code : {{ order.codeOrders }}</p>
            <p class="text-2xl font-bold">Nama : {{ order.customer.name }}</p>
            <p class="text-2xl font-bold">total : {{ order.total|number_format('0', ',', '.') }}</p>
        </div>

        <div class="flex justify-between items-center my-8">
            <h3 class="text-2xl font-bold">List Orders</h3>
        </div>
        <div class="mx-auto">
            <table class="table table-auto border-collapse border border-slate-500 w-full">
                <thead>
                    <tr>
                        <th class="border border-slate-600">Product</th>
                        <th class="border border-slate-600">Quantity</th>
                        <th class="border border-slate-600">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in order.orderDetails %}    
                        <tr>
                            <td class="border border-slate-600 p-5">{{ data.product.name }}</td>
                            <td class="border border-slate-600 p-5">{{ data.quantity }}</td>
                            <td class="border border-slate-600 p-5">Rp. {{ data.total|number_format('0', ',', '.') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
