{% extends 'base.html.twig' %}

{% block title %}Hello Orders!{% endblock %}

{% block body %}
<div class="w-full mx-auto px-5">
        <h1 class="text-3xl font-bold underline my-8">Orders Pages</h1>

        <div class="flex justify-between items-center my-8">
            <h3 class="text-2xl font-bold">List Orders</h3>
            <a href="/orders/create" class="px-2 bg-blue-500 py-2 rounded text-white">Create Data</a>
        </div>
        <div class="mx-auto">
            <table class="table table-auto border-collapse border border-slate-500 w-full">
                <thead>
                    <tr>
                        <th class="border border-slate-600">Code Order</th>
                        <th class="border border-slate-600">Total</th>
                        <th class="border border-slate-600">Customers</th>
                        <th class="border border-slate-600">Opsi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in orders %}    
                        <tr>
                            <td class="border border-slate-600 p-5">{{ data.codeOrders }}</td>
                            <td class="border border-slate-600 p-5">Rp. {{ data.total|number_format('0', ',', '.') }}</td>
                            <td class="border border-slate-600 p-5">{{ data.customer.name}}</td>
                            <td class="border border-slate-600 p-5">
                                <div class="flex gap-3">
                                    <a href="/orders/{{ data.id }}/detail" class="px-2 bg-gray-500 py-2 rounded text-white">Detail</a>
                                    {# <a href="/products/{{ data.id }}/edit" class="px-2 bg-green-500 py-2 rounded text-white">Edit</a> #}
                                    {# <a href="/orders/{{ data.id }}/delete" class="px-2 bg-red-500 py-2 rounded text-white">Delete</a> #}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
